<div class="commit">
    <h2>{{ commit.message }}</h2>
    <a href="{{ commit.url }}">Visit commit at GitHub.</a>
    {% for generation in commit.generations %}
        {% if generation.png_exists %}
            <div class="generation">
                <h3>Generation {{ generation.number }}</h3>
                <img src="{{ generation.png_path }}" alt="Generation {{ generation.number }}">
            </div>
        {% else %}
            <p>No available visualization for generation {{ generation.number }}</p>
        {% endif %}
    {% endfor %}
</div>