<div class="commit">
    <h2>{{ commit.message }}</h2>
    <a href="{{ commit.url }}">Visit commit at GitHub.</a>
    {% for generation in commit.generations %}
        <div class="generation no-generation">
        {% if generation.png_exists %}
            <h3>Generation {{ generation.number }}</h3>
            <img src="{{ generation.png_path }}" alt="Generation {{ generation.number }}">
        {% else %}
            <p class="no-generation">No available visualization for generation {{ generation.number }}</p>
        {% endif %}
        </div>
    {% endfor %}
</div>