<!DOCTYPE html>
<html>
<head>
    <title>Process History</title>
    <style>
        .generation {
            width: 100%;
            clear: both;
        }

        .slideshow {
            position: relative;
            overflow: hidden;
            margin: 0 auto; /* Center the slideshow */
        }

        .slideshow li {
            list-style: none;
            width: 100%;
            display: none; /* Hide the non-active slides */
        }

        .slideshow li.active {
            display: block; /* Show the active slide */
        }
    </style>
</head>
<body>
    {% for commit in commits %}
        {% include 'commit_template.html' %}
    {% endfor %}
    <script>
        document.querySelectorAll('.slideshow img').forEach(function(img) {
            var slideshow = img.closest('.slideshow');
            var slides = Array.from(slideshow.querySelectorAll('li'));
            var index = slides.findIndex(slide => slide.contains(img));
            var intervalId;

            // Set the first slide as the active slide
            if (slides.length > 0) {
                slides[0].classList.add('active');
            }

            function nextSlide() {
                slides[index].classList.remove('active');
                index = (index + 1) % slides.length;
                slides[index].classList.add('active');
                console.log('Next slide:', index);
            }

            function resetSlide() {
                slides[index].classList.remove('active');
                index = 0;
                slides[index].classList.add('active');
                console.log('Reset slide:', index);
            }

            img.addEventListener('mouseover', function() {
                nextSlide();
                intervalId = setInterval(nextSlide, 500); // Change slide every 2 seconds
            });

            img.addEventListener('mouseout', function() {
                clearInterval(intervalId);
                resetSlide();
            });
        });
    </script>
</body>
</html>