<!DOCTYPE html>
<html>
<head>
    <title>Process History</title>
    <style>
        /* .generation {
            width: 100%;
            clear: both;
        } */

        .slideshow li {
        display: none;
    }

    .slideshow li.active {
        display: block;
    }
    </style>
</head>
<body>
    {% for commit in commits %}
        {% include 'commit_template.html' %}
    {% endfor %}
    <script>
        document.querySelectorAll('ol.slideshow').forEach(function(slideshow) {
            var slides = Array.from(slideshow.querySelectorAll('li'));
            var index = 0;
            var intervalId;
        
            function nextSlide() {
                slides[index].classList.remove('active');
                index = (index + 1) % slides.length;
                slides[index].classList.add('active');
            }
        
            function resetSlide() {
                slides[index].classList.remove('active');
                index = 0;
                slides[0].classList.add('active');
            }
        
            // Add the active class to the first slide
            resetSlide();
        
            slideshow.addEventListener('mouseenter', function() {
                intervalId = setInterval(nextSlide, 500);
            });
        
            slideshow.addEventListener('mouseleave', function() {
                clearInterval(intervalId);
                resetSlide();
            });
        });
    </script>
</body>
</html>